<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="url_to_scrap" value="https://www.gob.mx/cre/articulos/precios-maximos-vigentes-de-los-combustibles/"/>
    <add key="excel_storage" value="ExcelFiles"/>
    <add key="json_storage" value="JsonFiles"/>
    <add key="firebase_url" value="https://gasolinamx-10b8b.firebaseio.com/"/>
  </appSettings>
</configuration>