<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="url_to_scrap" value="https://www.gob.mx/cre/articulos/precios-maximos-vigentes-de-los-combustibles/"/>
    <add key="excel_storage" value="ExcelFiles"/>
    <add key="json_storage" value="JsonFiles"/>
    <add key="firebase_url" value="https://gasolinamx-10b8b.firebaseio.com/"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.1.0" newVersion="1.5.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>